 
 body {
  font-family: "Inter", sans-serif;
  margin: 0;
  background: rgb(218, 216, 216);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: rgb(212, 220, 246);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.logo-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-profile {
    display: flex;
    align-items: center;
    gap: 15px;
}

#logo {
    width: 35px;
    height: 35px;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding: 1rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.685);
  display: flex;
  justify-content: center;
  align-items: center;
}


.modal-section {
  background: rgb(218, 216, 216);
  max-width: 900px;
  width: 90%;
  padding: 2rem;
  border-radius: 8px;
  position: relative;
  overflow-y: auto;
  max-height: 90vh;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.352);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-top: 0;
}
.modal-title {
    font-size: 1.7rem;
    margin: 0;
}

.modal-content {
    display: flex;
    gap: 1.5rem;
    padding: 0.5rem;
}
.close-modal {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.close-modal:hover {
  color: red;
  transform: scale(1.2);
}

.modal-image {
  width: 45%;
  border-radius: 6px;
  align-self: flex-start;
  height: auto;
}

.genre {
  background: #eee;
  padding: 0.3rem 0.6rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 4px;
  display: inline-block;
  font-size: 0.8rem;
}

.seasons-list {
  padding-left: 0px;
}

.season-item {
  list-style: none;
  display: flex;
  justify-content: space-between;
  background-color: azure;
  border: 1px solid rgb(223, 218, 218);
  border-radius: 6px;
  padding: 10px 12px;
  margin-bottom: 12px;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.season-item:hover {
  background-color: #f0f0f0;
  transform: scale(1.02);
}

.episodes {
  color: var(--grey-text);
  font-size: 0.75rem;
}
