 
 body {
  font-family: "Inter", sans-serif;
  margin: 0;
  background: #f9f9f9;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: rgb(118, 177, 137);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.logo-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-profile {
    display: flex;
    align-items: center;
    gap: 15px;
}

#logo {
    width: 35px;
    height: 35px;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding: 1rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.685);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  margin-top: 20rem;
  padding: 2rem;
  border-radius: 8px;
  max-width: 50rem;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.352);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-top: 0;
}
.modal-title {
    font-size: 1.7rem;
    margin: 0;
}

.close-modal {
    font-size: 1.5rem;
    cursor: pointer;
    color: red;
}

.modal-podcast-image {
  width: 45%;
  border-radius: 6px;
  align-self: flex-start;
  height: auto;
}